<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/main/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="yandex-verification" content="dae54fce2b9793f6" />
  <meta name="keywords" content="москва, транспортная компания, доставка грузов, перевозка грузов, грузоперевозки">
  <meta name="description" content="C 2010 года  перевозим бытовую технику и мебель. Planet-Ex в ответе за каждую вазу, зеркало и диван.">
  <meta name="google-site-verification" content="s88EXAkj21tyl-FteBGXkBlL01QZ35AGMlHc-ef8IqE" />
  <title>Грузоперевозки в Москве и МО - Planet-Ex</title>
  <link rel="icon" href="static/main/img/PlanetEx22.ico" type="image/x-icon">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
  <header class="header">
    
    <a href="/"><img src="/static/main/img/PlanetEx22.png" alt="logo" class="logo" ></a>
    <div class="container">  
        <h2 class="comm"><a href="#aboutme">О компании</a></h2> 
        <h2 class="feedback"><a href="#commentlayout">Отзывы</a></h2> 
        <h2 class="con"><a href="#end">Контакты</a></h2>  
    </div>
    <h2 class="num"><a href="tel:+79253852323">+7 (925) 385-23-23</a></h2> 
    </div>
  </header>
  <section class="utp">    
    <h1 class="headtext">ы в ответе за каждую вазу, зеркало и диван</h1>
    
      <h2 class="anytext">Предоставим машину и грузчиков для вашего <br> переезда</h2>
      <button type="button" class="call" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <p class="fastcall">Заказать звонок</p>
      </button>
  </section>
  <section class="aboutme" id="aboutme">
    <div class="lay">
      <div class="block1">
        <div class="experience">
          <h2 class="about">C 2010 года <br> перевозим бытовую <br> технику и мебель</h2>
          <img src="/static/main/img/logistika_9fin8y7aaysh_1281.png" alt="car" class="carimg">
        </div>
        <div class="client">
          <h2 class="about">Свыше 2000 <br> довольных <br> клиентов</h2>
          <img src="/static/main/img/logistika_r1da0eabdvxt_1281.png" alt="client" class="clientimg">
        </div>
        <div class="work">
          <h2 class="about">24/7 <br> Без выходных и <br> обедов</h2>
          <img src="/static/main/img/dostavka_24_chasa_p1bxwxbh7zoc_1281.png" alt="work" class="workimg">
        </div>
        <div class="deadlines">
          <h2 class="about">Перевезём вас в <br> нужный срок!</h2>
          <img src="/static/main/img/logistika_zl4mnch9u8lx_1281.png" alt="deadlines" class="deadlinesimg">
        </div>
      </div>
      <div class="info">
        <p class="infotext"> Команда из грузчиков и водителя за день перевезет мебель со старой квартиры в новую. PlanetEx сэкономит вам время и нервы во время переезда.</p>
      </div>
      <div class="block2">
        <div class="responsibility">
          <h2 class="about">Ответственность за <br> сохранность</h2>
          <img src="/static/main/img/fragile_jg129ibq2s5v_1281.png" alt="responsibility" class="responsibilityimg">
        </div>
        <div class="fixprice">
          <h2 class="about">Фиксированные <br> цены и тарифы</h2>
          <img src="/static/main/img/tsena_31h7wz27ev1f_1281.png" alt="fixprice" class="fixpriceimg">
        </div>
        <div class="flexibility">
          <h2 class="about">Гибкость в графике <br> работы</h2>
          <img src="/static/main/img/raspisanie_eabcis945w5h_1281.png" alt="flexibility" class="flexibilityimg">
        </div>
        <div class="quality">
          <h2 class="about">Качество обслуживания <br> клиента</h2>
          <img src="/static/main/img/premium_xocaur8r9xlw_1281.png" alt="quality" class="qualityimg">
        </div>
      </div>
    </div>

  </section>
  <section class="price">
  <div class="pos">
    <h1 class="headprice">Тарифы и цены</h1>
     <div class="btn">
      
      <div class="pricelay">
        
        <div class="pricelist">
          <button class="btnnav"  data-tab="#room0"  type="button">Комната/студия <br> от 10800 ₽</button>
          <button class="btnnav"  data-tab="#room1" type="button">1-комнатная <br> от 13200 ₽</button>
          <button class="btnnav"  data-tab="#room2" type="button">2-комнатная <br> от 16500 ₽</button>
          <button class="btnnav"  data-tab="#room3" type="button">3-комнатная <br> от 25200 ₽</button>
        </div>
      </div>
      <button class="pac" id="consumables">Стоимость <br> упаковки</button>
    </div> 
    <div class="offers">
      <div class="description">
        <div class="room" id="room0">
          <h1 class="van">Фургон</h1>
          <div class="b1">
            
            <div class="you">  
              <p>Вам подойдет фургон, если вы не <br> перевозите пианино, самолетный <br> двигатель или автомобиль.</p>
              <div class="volume">
                <p>Объём <br> до 10 м3</p>
                <p>Грузоподъемность <br> до 1,0 т</p>
              </div>
            </div>
            <div class="seven">
              <img src="/static/main/img/oplata_hm8jrxmago54_641.png" alt="money" class="money">
              <h1 class="hourprice">10800 ₽</h1>
               <div class="tm"> 
                <p class="hour">За 4 часа.</p>
                <p class="next">Далее 2400 ₽/час</p>
              </div>
            </div>
          </div>
          <div class="b2">
            <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
            <div class="d">
              <p class="driver">Водитель фургона погрузит  вещи в автомобиль, выгрузит  по приезду, поднимет на этаж  и поможет собрать.</p>
              <button class="order0" id="call" method="post" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Заказать</button>
              
            </div>
            
          </div>
        </div>  
          
        </div>
        <div class="room" id="room1">
          <h1 class="van">Газель</h1>
          <div class="b1">
            
            <div class="you">  
              <p>Кузов газели вмещает кухонную технику и <br> комнатную мебель.</p>
              <div class="volume1">
                <p>Объём <br> до 16 м3</p>
                <p>Грузоподъемность <br> до 1,5 т</p>
              </div>
            </div>
            <div class="seven1">
              <img src="/static/main/img/oplata_hm8jrxmago54_641.png" alt="money" class="money">
              <h1 class="hourprice">13200 ₽</h1>
               <div class="tm"> 
                <p class="hour">За 4 часа.</p>
                <p class="next">Далее 3300 ₽/час</p>
              </div>
            </div>
          </div>
          <div class="b21">
            <div class="imggruzchik">
              <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
              <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
            </div>
            <div class="d">
              <p class="driver">Водитель газели и 1 грузчик погрузят вещи в автомобиль, выгрузят по приезду, поднимут на этаж и помогут собрать.</p>
              <button class="order0" id="call" method="post" data-bs-toggle="modal" data-bs-target="#exampleModal">Заказать</button>

            </div>
          </div>
        </div>

        <div class="room" id="room2">
          <h1 class="van">Газель</h1>
          <div class="b1">
            
            <div class="you">  
              <p>Кузов газели вмещает кухонную технику и <br> комнатную мебель.</p>
              <div class="volume1">
                <p>Объём <br> до 16 м3</p>
                <p>Грузоподъемность <br> до 1,5 т</p>
              </div>
            </div>
            <div class="seven1">
              <img src="/static/main/img/oplata_hm8jrxmago54_641.png" alt="money" class="money">
              <h1 class="hourprice">16500 ₽</h1>
               <div class="tm"> 
                <p class="hour">За 5 часов.</p>
                <p class="next">Далее 3300 ₽/час</p>
              </div>
            </div>
          </div>
          <div class="b21">
            <div class="imggruzchik">
              <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
              <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
              
            </div>
            <div class="d">
              <p class="driver">Водитель газели и 1 грузчик погрузят вещи в автомобиль, выгрузят по приезду, поднимут на этаж и помогут собрать.</p>
              <button class="order0" id="call" method="post" data-bs-toggle="modal" data-bs-target="#exampleModal">Заказать</button>
            </div>
          </div>
        </div>
        <div class="room" id="room3">
          <h1 class="van">Газель</h1>
          <div class="b1">
            
            <div class="you">  
              <p>Кузов газели вмещает кухонную технику и <br> комнатную мебель.</p>
              <div class="volume1">
                <p>Объём <br> до 18 м3</p>
                <p>Грузоподъемность <br> до 2,0 т</p>
              </div>
            </div>
            <div class="seven1">
              <img src="/static/main/img/oplata_hm8jrxmago54_641.png" alt="money" class="money">
              <h1 class="hourprice">25200 ₽</h1>
               <div class="tm"> 
                <p class="hour">За 6 часов.</p>
                <p class="next">Далее 4200 ₽/час</p>
              </div>
            </div>
          </div>
          <div class="b21">
            <div class="imggruzchik">
              <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
              <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
              <img src="/static/main/img/gruzchik_2o3q88pzduu6_641.png" alt="gruzchik" class="gruzchik">
            </div>
            <div class="d">
              <p class="driver">Водитель газели и 2 грузчика погрузят вещи в автомобиль, выгрузят по приезду, поднимут на этаж и помогут собрать.</p>
              <button class="order0" id="call" data-bs-toggle="modal" data-bs-target="#exampleModal">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section class="commentlayout" id="commentlayout">
    
<h2 class="commentfeedback">Отзывы</h2>

    
    <div class="swiper">

    
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="comment  active">   
          <p class="comtext">Прошлым летом помогали сыну с переездом в однушку.  Быстро приехал водитель, за час +- всё погрузили. Где-то примерно столько же выгружали в квартиру. (Перевозили письменный стол, шкаф, кровать и личные вещи). Был незначительный перевес, но вписались в минимальный тариф, благодарим за помощь! </p>
          <div class="nameimg">
            <img src="static/main/img/image1.png" alt="avatar">
            <p class="namecom">Александр</p>
          </div>  
          </div>
      </div>
        <div class="swiper-slide">
          <div class="comment  active">   
            <p class="comtext">В конце 2023 года переезжали семьей из Подольска в Москву. Вещей было много, часа три загружали. Не очень повезло с дорогой, пришлось переплатить из-за пробок, но это не критично. <br> Из плюсов: хрупкое не бито, сколов и царапин на деревянной мебели нет. Важно отметить, что пару лет назад решили сэкономить и заказали перевезти мебель у не малоизвестной компании. Очень об этом пожалели, но рады, что сейчас смогли найти честных и добросовестных перевозчиков.</p>
            <div class="nameimg">
              <img src="static/main/img/image1.png" alt="avatar">
              <p class="namecom">Марина</p>
            </div>  
            </div>
        </div>
        <div class="swiper-slide">
          <div class="comment  active">   
            <p class="comtext">Всё было супер. Понравилось, что не наседают с доп продажами «возьмите коробки, возьмите это…». Единственное посоветовали взять пупырку для прослойки. Довезли всё быстро. Ничего не испорчено. Рекомендую!</p>
            <div class="nameimg">
              <img src="static/main/img/image1.png" alt="avatar">
              <p class="namecom">Сергей</p>
            </div>  
            </div>
        </div>
        <div class="swiper-slide">
          <div class="comment  active">   
            <p class="comtext">Отдельно спасибо Григорию и Артёму, которые несли пианино на 6-ой этаж, потому что оно не влезло в лифт. Доставили в целостности, не к чему придраться.</p>
            <div class="nameimg">
              <img src="static/main/img/image1.png" alt="avatar">
              <p class="namecom">Николай</p>
            </div>  
            </div>
        </div>
        <div class="swiper-slide">
          <div class="comment  active">   
            <p class="comtext">Заказал по рекомендации друзей, перевозили офис на новый адрес. У меня большой опыт в переездах и мне есть с чем сравнивать. Доволен работой, не пожалел, что выбрал именно эту компанию. Единственный минус, поздно приехали на точку А. Но тогда центр Москвы перед 9 мая был перекрыт, поэтому это не вина водителя и грузчиков.</p>
            <div class="nameimg">
              <img src="static/main/img/image1.png" alt="avatar">
              <p class="namecom">Семён</p>
            </div>  
            </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

      
    </div>
  </section>
  <section class="slider">
    <h1 class="tenyears">За 10 лет мы сотрудничали с такими компаниями как:</h1>
    <div class="sliderlayout">
      <marquee behavior="altentane" scrollamount="30" class="sl" >

            <img src="/static/main/img/1643623517_2-papik-pro-p-logotip-raiffaizenbanka-21.png" alt="rf">
            <img src="/static/main/img/1681519282_papik_pro_p_lerua_merlen_logotip_vektor_14.png" alt="ler">
            <img src="/static/main/img/1681638369_papik-pro-p-logotip-mts-novii-vektor-485.png" alt="agg">
            <img src="/static/main/img/g6yaypq7ene9n4v799uypqm9ljbly4832.png" alt="oz">
            <img src="/static/main/img/Mosfilm_logo2.png" alt="mos">
            <img src="/static/main/img/OBI-logo-2048x12294.png" alt="obi">
            <img src="/static/main/img/pngegg(31)4.png" alt="obi">
      </marquee>
    </div>
  </section>
  <footer class="end" id="end">
    <div class="endlay">
      <p>Все права защищены © 2023</p>
      <a href="/polit">Политика конфиденцальности</a>
      <div class="mess"> 
        <div class="number">
            <img src="/static/main/img/zvonok_1h0x0kzdzc9m_321.png" alt="zvonok" class="zvonok">
            <p><a href="tel:+79253852323" >+7 (925) 385-23-23</a> <br> ПН-ВС с 9:00 до 21:00</p>
        </div>
        <div class="sup">
          <img src="/static/main/img/pochta_fkjovvbmcp16_321.png" alt="pochta" class="pochta">
          <p><a href="mailto:support@planet-exp.ru">Support@planet-exp.ru</a></p>
        </div>
        <div class="iconmess">
          <img src="/static/main/img/telegram_1041631.png" alt="tel" class="tel">
          <img src="/static/main/img/pngwing3.png" alt="what" class="what">
        </div>
      </div>  
    </div>
  </footer>


  <div class="popup__bg1">
    <from class="popup1">
      <img src="/static/main/img/Frame49.png" alt="" class="close-popup1">
      <div class="consumables">
        <div class="skotch">
          <img src="/static/main/img/skotch.png" alt="">
          <h2 class="scotchtext">Скотч</h2>
          <p> Особо прочная клейкая <br> лента на п/э основе. <br> 130 ₽ за шт.</p>
        </div>
        <div class="">
          <img src="/static/main/img/plenka.png" alt="">
          <h2>Стрейтч-пленка</h2>
          <p>Пленка защищает ваши <br> вещи во время переезда от <br> пыли, грязи и потертостей. <br> 650 ₽ за шт.</p>
        </div>
        <div class="">
          <img src="/static/main/img/box.png" alt="">
          <h2>Коробка картонная</h2>
          <p>В коробках удобно <br> перевозить любые вещи. <br> 120 ₽ за шт.</p>
        </div>
        <div class="">
          <img src="/static/main/img/Bubble.png" alt="">
          <h2>Воздушно-пузырчитая <br> пленка</h2>
          <p>Помогает защитить вещи от <br> ударов, влаги и пыли. <br> 500 ₽ за 10 м.</p>
        </div>
      </div>
    </from>
  
  </div>

 
{% include 'main/pop.html' %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="static/main/js/app2.js"></script>
<script src="static/main/js/app.js"></script>
<script src="static/main/js/app4.js"></script>
<script type="module">import swiper from 'https://cdn.jsdelivr.net/npm/swiper@11.1.4/+esm'</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</body>
 <script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
  
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      direction: 'horizontal',
      loop: true,
    },
  

  
    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    mousewhell: true,
    keyboard: true
  });
</script>
</html>